html{

}

body{
    margin: 0;
    background-color: #efefef;
}

header{
    background-color: ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    height: 84px;
    border-bottom: 1px solid;
    background-color: #82999f;
    width: 100%;
}

header a{
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    
}
header nav{
    display: flex;
    gap: 24px;
    margin: 600px;
    
    
}

header nav a:hover{
    font-size: 30px;
}

.container{
    width: 400px;
    margin: 0 auto;
}

section article{
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article h2, h3, h4, h5, p{
margin: 1rem;
text-align: justify;

}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3);
}

footer{
    padding: 30px;
    height: 30px;
    border-bottom: 1px solid;
background-color: #5f7f7f;
display: flex;

}

footer a, span, p{
    text-decoration: none;

}

footer a{
    color: white;
    font-size: 20px;
    gap: 24px;
}

footer a:hover{
    color: black;
    font-size: 25px;
    text-align: center;
}